@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/NotoSansTC-Regular.otf) format('opentype');
}
/* @font-face { */
/*   font-family: 'Noto Sans TC'; */
/*   font-style: normal; */
/*   font-weight: 700; */
/*   font-display: swap; */
/*   src: url(/font/NotoSansTC-Bold.otf) format('opentype'); */
/* } */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/font/RobotoMono-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/font/RobotoMono-Bold.ttf) format('truetype');
}
